html, body {
	background-color: rgb(232, 232, 232);
	height: 100%;
	font-family: Arial;
	font-size: 10pt;
}

table {
	border-spacing: 0;
}

td {
	border-bottom: 1px solid rgb(210, 210, 210);
}

tr:last-child td {
	border-bottom: none;
}

.day {
	background-color: white;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 1px 0px;
	box-sizing: border-box;
	min-width: 400px;
	padding: 5px;
	width: 40%;
}
.day table {
	width: 100%;
}

.pair-info {
	border-right: 1px solid rgb(210, 210, 210);
	color: grey;
	max-width: 50px;
	padding: 0 5px 0 0;
	text-align: center;
	width: 30px;
}

.pair-number {
	border-bottom: 1px solid rgb(230, 230, 230);
	font-size: 12pt;
	font-weight: bold;
	line-height: 22px;
	padding-top: 2px;
}

.pair-time {
	padding: 2px 2px;
}

.subject {
	border-right: 1px solid rgb(210, 210, 210);
	/*Decrease contrast of subject type icon*/
	box-shadow: inset -50px 0px 0px rgba(255, 255, 255, .3);
	padding-left: 35px !important;
	width: 40%;
}

.subject, .task {
	padding-left: 10px;
}

.subject.lecture {
	background: url("../img/icons/book/book_64.png") no-repeat left;
	background-size: 32px;
}

.subject.practical {
	background: url("../img/icons/computer/computer_64.png") no-repeat left;
	background-size: 32px 36px;
}