<!DOCTYPE html>
<html ng-app="shedule">
<head>
	<title>123</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/day.css">
	<!--Replace with google cdn link-->
	<script src="js/lib/jquery-2.1.1.min.js"></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/moment.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div id="settings">
		<h1 ng-controller="WeekCountController as shedule">{{ shedule.currentWeek + "-ий тиждень"}}</h1>
		<input type="text" class="quickSearch" ng-model="quickSearch" placeholder="Швидкий пошук">
		<div class="clear"></div>
	</div>
	<div id="week" ng-controller="DayController as days">
		<div class="day" ng-repeat="day in days track by $index">
			<table>
				<thead>
					<tr>
						<th colspan="3">{{ day.name }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lecture in day.lectures | filter:quickSearch">
						<td class="pair-info">
							<div class="pair-number">{{ lecture.number }}</div>
							<div class="pair-time">{{ lecture.time }}</div>
						</td>
						<td class="subject ng-class:lecture.type">{{ lecture.name }}</td>
						<td>
							<div class="task">{{ lecture.task }}</div>
							<div class="lecturer" ng-show="taskCheckbox">{{ lecture.lecturer.name }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>