$lightblue: #00b0f0;
$violet: #7030a0;

* {
	text-align: center;
}

a {
	color: black;
	border-bottom: 1px solid blue;
	text-decoration: none;
}

h1 {
	font-size: 36pt;
}

p {
	font-size: 14pt;
	line-height: 150%;
	margin: 5px;
}

p.small, p.financing {
	@extend .left;
	font-size: 10pt;
}

p.financing {
	text-indent: 50px;
}

p.popularity {
	font-size: 28pt;
}

.big {
	font-size: 20pt;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.lightblue {
	color: $lightblue;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.violet {
	color: $violet;
}

.red {
	color: red;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.underline {
	text-decoration: underline;
}

.yellow {
	color: yellow;
}
